body {
	padding-left:250px;
	background-color:#ddd;
	min-width:410px;
}

#left {
	position:fixed;
	top:50px;
	left:0px;
	width:215px;
	bottom:30px;
	padding:10px;
	background-color:#eee;
	box-shadow:0px 0px 2px rgba(0,0,0,0.5);
	z-index:10;
	font-size:15px;
	overflow-y:auto;
}
#left a{
	text-decoration:none;
	color:#000;
	padding-bottom:5px;
	display:block;
}
h1{
	text-align:center;
}
.indent {
	padding-left:15px;
}
.prelesson{
	float:left;
}
.nextlesson{
	float:right;
}
.prelesson, .nextlesson{
	display:inline-block;
	color:#008800;
	text-decoration:none;
}
#content{
	position:fixed;
	top:50px;
	left:238px;
	right:0px;
	height:39px;
	border-bottom:1px solid #aaa;
	width:auto;
	max-width:100%;
	min-width:600px;
	text-align:center;
}
#pdfholder, #videoholder {
	min-width:600px;
	position:fixed;
	left:230px;
	right:0px;
	top:90px;
	bottom:30px;
	background-color:#ccc;
}
a.button {
	padding:3px;
	padding-right:5px;
	padding-left:5px;
	margin-left:5px;
	margin-right:5px;
	border:1px solid #008800;
	background-color:#00a400;
	border-radius:3px;
	text-decoration:none;
	color:#fff;
}