#content,#videoholder,#pdfholder,#questionholder{
	left:0px;
}

#horisontalnav .document {
	background: url("./img/document.png");
}

#horisontalnav .video {
	background: url("./img/video.png");
}

#horisontalnav .questions {
	background: url("./img/questions.png");
}

#horisontalnav .document, #horisontalnav .questions, #horisontalnav .video {
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: 2 2;
	background-size: 30px 30px;
	display:inline-block;
	width:30px;
	height:30px;
	padding:2px;
	margin-top:3px;
}

.bold {
	font-weight:bold;
}

#horisontalnav .bold {
	background-color:#00be00;
}

#content {
	font-weight:bold;
	font-size:20px;
}

#horisontalnav .title {
	display:inline-block;
	position:relative;
	top:4px;
}
#horisontalnav .title a{
	color:#000;
	text-decoration:none;
}

.group {
	display:none;
}

#rating {
	position: fixed;
	bottom:31px;
	left:0px;
	right: 0px;
	border-top: 1px solid #ccc;
	background-color: #eee;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	overflow: hidden;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	z-index: 18;
}

#sites{
	height:20px;
}

#reason {
	font-family: 'Century Gothic', CenturyGothic, 'Lato', sans-serif;
	background-color: #fff;
	border:1px solid #aaa;
}

#send {
	border: 1px solid #aaa;
  background-color: #ccc;
  padding-left: 5px;
  padding-right: 5px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: -1px;
	cursor:pointer;
}

.star {
	height:24px;
	cursor:pointer;
}
