@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
body{
	font-family: 'Century Gothic', CenturyGothic, 'Lato', sans-serif;
	font-weight: 400;
	line-height: 20px;
	font-style: normal;
	font-variant: normal;
	font-size: 14px;
	padding-top:60px;
	padding-bottom:30px;
	padding-left:10px;
	padding-right:10px;
    -webkit-text-size-adjust: none;
	min-width:815px;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	line-height: 26.3999996185303px;
}
h3 {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}
a{
	color:#00A400;
}
a:visited{
	color:#008800;
}
#content {
    margin: 0 auto;
    max-width: 960px;
	font-size: 14px;
	min-width:410px;
}
#left{
	position:fixed;
	top:50px;
	left:0px;
	width:300px;
	border:1px solid #ccc;
}
#header{
    position:fixed;
	top:0px;
	left:0px;
	right:0px;
	height:30px;
	border:none;
	background-color:#00A400;
	padding:10px;
	color:#fff;
	text-align:center;
	z-index:10;
	box-shadow:0px 0px 3px rgba(0,0,0,0.5);
	min-width:815px;
}
#header img{
	max-width:80%;
	padding-bottom:10px;
	float:left;
	max-height:30px;
}
#header a{
	color:#fff;
	text-decoration:none;
	font-weight:500;
	padding-left:5px;
	padding-right:5px;
	font-size:15px;
	z-index:20;
}
#nav, #navreplace {
	position:absolute;
	bottom:15px;
	right:0px;
	text-align:center;
	padding-left:15px;
	padding-right:15px;
}
#nav {text-align:right;}
#footer{
    width:100%;
	text-align:center;
	color:#888;
}
#sites {
	position: fixed;
	bottom:0px;
	left:0px;
	right:0px;
	border-top:1px solid #ccc;
	background-color:#eee;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	overflow:hidden;
	box-shadow:0px 0px 3px rgba(0,0,0,0.5);
	z-index:20;
}
#sites a{
	padding-left:10px;
	padding-right:10px;
	color:#aaa;
	text-decoration:none;
	display:inline-block;
}
#navreplace, #nav2{
	display:none;
}
table {
	border-collapse:collapse;
}
td{
	font-size: 14px;
	line-height: 20px;
	padding:5px;
	vertical-align:top;
}
tr{
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
}
.sections {
	text-align:center;
}
.sections > * {
    vertical-align: top;
}
.sections div{
	display:inline-block;
	width:23.5%;
	text-align:left;
	float:top;
	padding:3px;
}
.sections img{
	max-width:100%;
	max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
#header a:hover{
	text-decoration:underline;
}
ul {
	margin-top:0px;
	margin-bottom:0px;
}

.auto-resizable-iframe {
  max-width: 90%;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.auto-resizable-iframe, .page-image {
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	border: 1px solid #ccc;
	margin-bottom:10px;
}
div.click {
	cursor:pointer;
	border:1px solid #ddd;
	display:inline-block;
	width:190px;
	height:170px;
	padding:10px;
	margin:5px;
	vertical-align: top
}
div.click div{
	display:block;
	width:100%;
	padding-bottom:5px;
}
div.click div:first-child, div.click div:nth-child(2){
	display:inline;
	width:auto;
	font-size:200%;
	padding-bottom:5px;
}
div.click div:nth-child(1){
	float:right;
}
div.click div:nth-child(3){
	padding-top:20px;
}
div.bold {
	background-color:#cceccc;
	color:#000;
}
div.border{
	border-top:none;
}
div.click:hover {
	background-color:#ddd;
   -moz-box-shadow:    inset 0 0 10px #ccc;
   -webkit-box-shadow: inset 0 0 10px #ccc;
   box-shadow:         inset 0 0 10px #ccc;
}
